<div class='hero'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-12'>
        <% if user_signed_in? %>
          <%= link_to 'Schedule', new_appointment_path, class: 'btn btn-default' %>
          <br>
          <%= render 'appointments/appointments_list', appointments: @appointments %>
        <% else %>
          <h4>Schedule app used for managing appointments</h4>
        <% end %>
        </div>
      </div>
  </div>
</div>