.hero {
  min-height: calc(100vh - 112px);
  padding-top: 20px;
  position: relative;

  &::before {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(rgba(219, 237, 243, 0.7), rgba(219, 237, 243, 1)), image-url('home/hero.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    opacity : 0.4;
    z-index: -1;
  }
}


.flash-message {
  float: right;
  max-width: 50%;
  position: relative;
  top: 25px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 16px 0 rgba(52,52,51,0.12);
  padding: 15px;
  margin-right: 24px;
  border-top: 4px solid #00818a;
  overflow: auto;
}

.btn-default {
  background-color: #404b69;
  color: #dbedf3;

  &:hover {
    background-color: #707b99;
    color: #ddeff5;
  }
}

.card {
  margin-top: 20px;
  margin-bottom: 30px;
}

.title {
  margin-top: 30px;
  text-align: center; 
}