.navbar {
  z-index: 999;
  background-color: #404b69;
  color: #dbedf3;

  .navbar-light .navbar-brand, .nav-link {
    color: #dbedf3;
  }

  .navbar-nav {
    margin-left: auto;

    a {
      margin-left: 30px;
    }
  
  }

  .navbar-toggler {
    background-color: #dbedf3;
  }

  &.navbar-light {
    .navbar-brand, .navbar-nav .nav-link {
      color: #dbedf3;
    }
  }

  .btn-schedule {
    background-color: #dbedf3;
    color: #283149;

    &:hover {
      background-color: #effaff;
      color: #283149;
    } 
  }
}

.page-footer {
  background-color: #404b69;
  color: #dbedf3;
}